<html>
<head>
  <script src="javascripts/jquery-1.5.2.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
	  $("button").click(function(){
	    $.get("/check",
	    { 
	    		guess:$("#guess").val()
	    },
	   function(data,status){
	    	 $("p#ans").append($("#guess").val() + " : " + data + "</br>");
	   });
	  });
    });
  </script>
  
  <style type="text/css">
    .body1 {
      position:absolute;
      top: 30%;
      left:40%
    };
  </style>


</head>
<h1 class = "banner">Number Guess Game</h1>
<body class = "body1">
  
  Guess: <input type="text" id="guess">
  <button>Try</button>
  <p id='ans'></p>
</body>
</html>